@using DemoUpSchoolProject.Models.Entities
@model List<TblAbout>
<div class="">
    <span class="text">Hakkımda</span>
    @foreach (var item in Model)
    {
        <h1 class="mb-4 title">
            Merhaba, <span class="type-js"><span class="text-js">Adım @item.NameSurname</span></span><br>
            @item.Title adayıyım
        </h1>
        <p class="mx-lg-5">
            <strong>@item.Description</strong> 
            <strong>Hakkımda daha detaylı bilgilere aşağıdan ulaşabilirsiniz.</strong>
        </p>
        <div class="row">
            <div class="col-lg-8 mx-lg-auto col-md-10">
                <img src="@item.ImageUrl" alt="" class="img-fluid mt-lg-5 mt-3" style="width:200px;height:200px">
            </div>
        </div>
        <ul class="follow-social">
            <li><p>Github ve Linkedin</p></li>

            <li><a href="https://www.linkedin.com/in/iremsamur/" target="_blank"><span class="fa fa-linkedin"></span></a></li>
            <li><a href="https://github.com/iremsamur" target="_blank"><span class="fa fa-github"></span></a></li>

        </ul>

    }

</div>

