<section class="w3l-contactblock" id="contact">
    <div class="midd-w3 py-5">
        <div class="container py-lg-4 py-md-3">
            <div class="contact-heading text-center">
                <span class="text">Benimle iletişime geçin. </span>
                <h3 class="title-big">Birlikte çalışmaya <span>hazır mısınız?</span></h3>
                <p class="mt-4">Ekibinizdeki projelerinizde yer almayı çok istiyorum.</p>
            </div>
            <div class="row mt-md-5 mt-4 pt-lg-3">
                <div class="col-lg-5">
                    <p>
                        Özgeçmişime uygun ilgili pozisyon için değerlendirilebilmem üzere benimle iletişime geçebilirsiniz.
                    </p>
                    <ul class="address mt-md-5 mt-4">
                        <li class="mb-3">
                            <p><span class="fa fa-phone"></span> <a href="">+905324138608</a></p>
                        </li>
                        <li class="mb-4">
                            <p><span class="fa fa-envelope-open"></span> <a href="mailto:iremsamur129@gmail.com">iremsamur129@gmail.com</a></p>
                        </li>
                        <li class="">
                            <p><span class="fa fa-map-marker"></span>İnönü Mahallesi , Em Çağ Sitesi, 1796.Sokak 14/10  <br>Yenimahalle - Batıkent - Ankara</p>
                        </li>
                    </ul>

                </div>
                <div class="col-lg-7 mt-lg-0 mt-md-5 mt-4">
                    <form method="post">
                        <div class="twice-two">
                            <input type="text" class="form-control" name="NameSurname" id="w3lName" placeholder="İsim-Soyisim"
                                   required="">
                            <input type="email" class="form-control" name="EMail" id="w3lSender" placeholder="Mail Adresi"
                                   required="">
                        </div>
                        <div class="twice">
                            <input type="text" class="form-control" name="Konu" id="w3lSubject"
                                   placeholder="Subject" required="">
                        </div>
                        <textarea name="Message" class="form-control" id="w3lMessage" placeholder="Mesaj"
                                  required=""></textarea>
                        <div class="text-right">
                            <button type="submit" class="btn btn-secondary btn-style mt-4">Mesajı Gönder</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
