@using DemoUpSchoolProject.Models.Entities
@model List<TblServices>
<section class="w3l-homeblock3" id="awards">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6">
                    
                    <h3 class="title-big">
                        Kullandığım Teknolojiler
                    </h3>
                    <p class="mt-4">
                        Kendimi backend ve frontend web yazılım geliştirme alanında aşağıda
                        yer alan teknolojiler üzerinde geliştirdim.
                    </p>
                    <div class="reward-list mt-5">
                        @foreach (var item in Model)
                        {
                            <div class="reward-item">
                                <div class="reward-item-photo"><img src="@item.ImageUrl" alt="" class="img-fluid"></div>
                                <div class="reward-item-detail">
                                    <span class="reward-item-title">@item.Title</span>
                                    <p class="reward-item-descr">Backend Yazılım Geliştirme</p>
                                </div>
                            </div>

                        }


                    </div>
                </div>
                <div class="col-lg-6 align-self mt-lg-0 mt-md-5 mt-4">
                    <div class="position-relative px-lg-5 mx-lg-0 mx-md-5 image-padding">
                        <img src="~/Templates/images/software.jpg" alt="" class="radius-image img-fluid">

                    </div>
                    <br />
                    <div class="position-relative px-lg-5 mx-lg-0 mx-md-5 image-padding">
                        <img src="~/Templates/images/web.jpg" alt="" class="radius-image img-fluid">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

