@model DemoUpSchoolProject.Models.Entities.TblExperiences
@{
    ViewBag.Title = "AddExperience";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<h2>Yeni Deneyim Ekle</h2>
<br />
@using (Html.BeginForm("AddExperience", "Experiences", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label>Şirket Adı</label>
    @Html.TextBoxFor(x => x.CompanyName, new { @class = "form form-control" })
    <label>Pozisyon Adı</label>
    @Html.TextBoxFor(x => x.JobTitle, new { @class = "form form-control" })
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form form-control" })
    <label>Başlangıç- Bitiş Tarihi</label>
    @Html.TextBoxFor(x => x.Duration, new { @class = "form form-control" })
    <label>Şirket Logosu</label>
    <input type="file" name="CompanyLogo"/>
    <br />
    <input type="submit" value="Kaydet" class="btn btn-primary"/>


}


