@using DemoUpSchoolProject.Models.Entities
@model List<TblLanguage>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    int count = 0;
}

<h2>Dil Bilgisi</h2>
@if (Model.Count == 0)
{
    <div class="alert alert-warning" role="alert">
        Kayıt Bulunamadı!!
    </div>
    <br />
}
else
{
    <!--üste eklenen model ile controllers values'dan gelen değerler karşılanır.-->
    <table class="table table-bordered">
        <!--Önce aracın türü sonra biçimlendirme formatı şeklinde bootstrap verilir.
        türü table, table-bordered ise format şekli -->
        <tr>

            <th>#</th>
            <th>Yabancı Dil Adı</th>
            <th>Dil Seviyesi</th>




            <th>Sil</th>
            <th>Güncelle</th>

        </tr>
        <!--razor syntax-->
        @foreach (var item in Model)
        {
            count += 1;
            <tr>

                <td>@count</td>

                <td>@item.LanguageName</td>
                <td>@item.LanguageLevel</td>




                <td><a href="/Language/DeleteLanguage/@item.LanguageID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Language/UpdateLanguage/@item.LanguageID" class="btn btn-success">Güncelle</a></td>


            </tr>

        }


    </table>


}
<a href="/Language/AddLanguage" class="btn btn-primary">Yeni Dil Bilgisi Ekle</a>

