@model DemoUpSchoolProject.Models.Entities.TblAbout
@{
    ViewBag.Title = "AddAbout";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


<form method="post">
    <label>Ad Soyad</label>
    
    <input type="text" name="NameSurname" class="form-control" />
    
    <br />
    <label>Başlık</label>
    <input type="text" name="Title" class="form-control" />
    <br />
    <label>Açıklama</label>
    <textarea type="text" name="Description" class="form-control"></textarea>
    
    <br />
    <label>Image Url</label>
    <input type="text" name="ImageUrl" class="form-control" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>

