@using DemoUpSchoolProject.Models.Entities
@model List<TblAbout>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    int sayac = 0;
}
@if (Model.Count == 0)
{
    <div  class="alert alert-warning" role="alert">
        Kayıt Bulunamadı!!
    </div>
    <br />
}
else
{
    <table class="table table-bordered">
        <!--Önce aracın türü sonra biçimlendirme formatı şeklinde bootstrap verilir.
        türü table, table-bordered ise format şekli -->
        <tr>

            <th>#</th>
            <th>Ad soyad</th>

            <th>Başlık</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        <!--razor syntax-->

        @foreach (var item in Model)
        {
            sayac += 1;
            <tr>

                <td>@sayac</td>
                <td>@item.NameSurname</td>
                <td>@item.Title</td>

                <td><a href="/About/DeleteAbout/@item.AboutID" class="btn btn-danger">Sil</a></td>
                <td><a href="/About/UpdateAbout/@item.AboutID" class="btn btn-success">Güncelle</a></td>
                <!--güncellenecek verinin id değerini link ile göndeririz-->

            </tr>

        }


    </table>

}


<a href="/About/AddAbout" class="btn btn-primary">Yeni Hakkında Girişi</a>

