@model DemoUpSchoolProject.Models.Entities.TblAbout
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using (Html.BeginForm("UpdateAbout", "About", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.AboutID)
    <label>Ad Soyad</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />

    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })

    <br />
    <label>Profil Fotoğrafı</label>
    <br />
    <input type="file" name="ImageUrl" class="btn btn-dark" />
    <br />
    <br />
    <input type="submit" value="Güncelle" class="btn btn-success" />






}

