
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<h2>Index</h2>
Toplam Referans Sayısı :  @ViewBag.v1
<br />
istanbuldaki referans sayısı : @ViewBag.v2
<br />
Yazılım Mühendisi haricindeki kişi sayısı : @ViewBag.v3
<br />
Şehri trabzon olanın kişi ismini getiren sorgu : @ViewBag.v4
<br />
Referansların ortalama maaşı : @ViewBag





